src/main/mule/mulw-deploy-5.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1a99d250-0223-4e78-9118-2b0c51c528b5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulw-deploy-5Flow" doc:id="5762ae2c-7f9a-4dd8-9353-bc1ac13521df" >
		<http:listener doc:name="Listener" doc:id="b71d00f4-dff7-4119-8b5c-e4d01480660c" config-ref="HTTP_Listener_config" path="/deploy5"/>
		<set-payload value="#['practice to maven deploy is successful ']" doc:name="Set Payload" doc:id="5a091865-93db-4a8b-a020-68ed2ba66090" />
		<logger level="INFO" doc:name="Logger" doc:id="02beb02a-01b2-4a49-8eee-632747d6b03c" message="#[payload]"/>
	</flow>
</mule>
